body{
    width: 100%;
    margin: 0;
    background-color: #000;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*
*:before,
*:after{box-sizing: border-box;} 

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/*-------------------------------Header--------------------------------*/
header{
    width: 100%;
    height: 88px;
    position: relative;
}

.container_header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 3%;
    left: 3%;
}

.navigation{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.navigation a{
    display: inline-block;
    height: 88px;
    width: 110px;
    line-height: 88px;

    text-align: center;
    text-decoration: none;
    color: white;

    transition: background 10ms linear;
}

.navigation a:hover{
    background-color: #5221E6;
}

/*-------------------------------Main--------------------------------*/
main{
    width: 100%;
}

/*-------frame43-------*/
.frame_43{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
    width: 100%;
}

.text_frame_43{
    margin-top: 80px;
    text-align: left;
}
.text_frame_43 h1{
    font-weight: bold;
    font-size: 55px;
    color: white;
    margin-bottom: 24px;
}
.text_frame_43 pre{
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
}

.container_inputs{
    margin-top: 80px;
    color: #fff;
    margin-left: 3%;
}
.container_inputs div{
    margin-bottom: 40px;
}
.container_inputs label{
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.container_inputs input{
    background-color: #181823;
    color: #fff;
    width: 526px;
    height: 50px;
    border: none;
    outline: none;
}

.container_inputs button{
    width: 526px;
    height: 75px;
    border: none;
    background-color: #5221E6;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;

    transition: background-color 0.1s linear;
}

.container_inputs button:hover{
    opacity: 0.8;
}
footer{
    margin-top: 80px;
    width: 100%;
    padding: 2% 0;
    color: #fff;
    background-color: #181823;
}
footer article{
    margin: 30px 5% 0;
    font-weight: 400;
    font-size: 16px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.icones div{
    width: 104px;
    display: flex;
    flex-flow: row;
}
.icones div img{
    margin-right: 15px;
}
.icones img{
    margin-bottom: 10px;
}

.footer_navigation{
    width: 400px;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.nav_link1{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 190px;
}
.nav_link2{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 140px;
}
.footer_navigation a{
    color: #fff;
    text-decoration: none;
}
footer p{
    margin-left: 5%;
    opacity: 0.5;
}
/*frame 10*/
.frame_10{
    color: #181823;
    background-color: #FFF3E4;
    font-weight: 700;
    font-size: 55px;
    padding-left: 72px;
    padding-top: 100px;

    display: flex;
    flex-flow: row;
    height: 720px;
}
.txt{
    position: absolute;
    width: 529px;
    height: 66px;
    left: 72px;
    padding-top: 60px;
}
.txtsm{
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
    margin-top: 400px;
    text-align: left;
}
.itd{
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
    margin-top: 620px;
    text-align: left;
    position: absolute;
}
.iimg{
    margin-left: 500px;
    margin-bottom: 400px;
    padding-bottom: 600px;
}
/*-frame 27-*/
.photo_27{
    margin-top: 80px;
    overflow: hidden;
}
.cbre{
    border: 1px solid #181823;
    border-radius: 5px;
    width: 401px;
    height: 161px;
    margin-left: 30px;
    float: left;
}
.epiq{
    border: 1px solid #181823;
    border-radius: 5px;
    width: 401px;
    height: 161px;
    float: left;

    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
}
.f{
    border: 1px solid #181823;
    border-radius: 5px;
    width: 402px;
    height: 161px;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    float: left;
}
.list{
    border: 1px solid #181823;
    border-radius: 5px;
    width: 401px;
    height: 161px;
    float: left;
}
.none{
    width: 401px;
    height: 161px;
}
/*-frame 32-*/
.frame_32 h1{ 
    margin-top: 80px;
    font-weight: bold;
    font-size: 55px;
    color: white;
    margin-bottom: 24px;
    margin-left: 182px;
}
.frame_32 pre{
    margin-bottom: 50px;
    margin-left: 182px;
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
}
.photo_32{
    margin-top: 100px;
    margin-left: 182px;
}
.btext{
    margin-top: 100px;
    margin-bottom: 80px;
    padding-top: 4px;
    margin-left: 182px;
    color: white;
}
/*-frame 17-*/
.f17{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.frame_17{
    margin-top: 120px;
}
.frame_17 h1{
    font-weight: bold;
    font-size: 55px;
    color: white;
    margin-bottom: 24px;
    margin-left: 182px;
}
.frame_17 pre{
    margin-left: 182px;
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
}
/*блок с Product Design*/
.f17_bl{
    margin-left: 182px;
}
.f17_bl h1{
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.f17_bl pre{
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
}
.f17bl_img{
    margin-top: 110px;
}
/*блок с Visual Design*/
.f17_pn{
    margin-left: 100px;
}
.f17_pn h1{
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.f17_pn pre{
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
}
.f17pn_img{
    margin-top: 110px;
}
/*блок с Motion Design*/
.f17_pl{
    margin-top: 110px;
    margin-left: 700px;
}
.f17_pl h1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    flex: auto;
}
.f17_pl pre{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
}
/*блок с Photography*/
.f17_cm{
    margin-top: 110px;
    margin-left: 100px;
}
.f17_cm h1{
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.f17_cm pre{
    font-size: 18px;
    color: #8491A0;
    font-weight: 400;
    font-family: "Sen", sans-serif;
}
/*--Hero--*/
.frame_Hero{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.Hero_foto{
    width: 100%;
    height: 812px;
    position: relative;
    top: 0;
    left: 0;
}
#Hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
}
#Square{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.Hero_text{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    z-index: 1;
}
.Hero_text h1{
    font-size: 78px;
    font-weight: 700;
    color: #fff;
}
.Hero_text p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-top: 30px;
}
/*frame 30*/
.frame_30{
    margin-bottom: 24px;
    margin-left: 182px;
    margin-top: 80px;
}
.st1 section{
    background-color: #181823;
    width: 636px;
    height: 830px;
    color: white;
}
.st1 p{
    font-weight: 700;
    color: #8491A0;
    
}
.st1 h1{
    font-weight: bold;
    font-size: 55px;
    color: white;
    margin-bottom: 24px;
}
